@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
  --clr-primary: #004ace;
}

html {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(244,248,255,1) 47%, rgba(173,204,255,1) 100%); 
}

h1 {
  margin: 5rem auto 2rem;
  font-size: 3rem;
  text-align: center;
}

table {
  margin: auto;
  border-spacing: 0.5rem;
}

th {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

td {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.home,
.away {
  min-width: 8rem;
  border-radius: 0.5rem;
}
.away {
  text-align: right;
}
.home {
  text-align: left;
}

.favorite {
  background-color: var(--clr-primary);
  color: white;
}

.gametime {
  text-align: left;
}

.tiebreaker {
  color: var(--clr-primary);
  font-weight: bold;
  border: 2px solid var(--clr-primary);
}

.info {
  margin-top: 3rem;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}
