td {
  text-align: center;
  border: 1px solid;
}

th {
  text-transform: uppercase;
}

.away {
  text-align: right;
}

.home {
  text-align: left;
}

.favorite {
  color: white;
  background-color: blue;
}

.gametime {
  text-align: left;
}

.tiebreaker {
  color: red;
}
